Repository Kotlin/dataframe, pull requests merged in 2024-10, with the labels that each got.

#869 [Compiler plugin] Lower frontend generated implicit receivers
  core/src/main/kotlin/org/jetbrains/kotlinx/dataframe/aggregation/AggregateDsl.kt
  plugins/kotlin-dataframe/src/org/jetbrains/kotlinx/dataframe/plugin/extensions/IrBodyFiller.kt
  plugins/kotlin-dataframe/testData/box/wrongReceiver.kt
  plugins/kotlin-dataframe/tests-gen/org/jetbrains/kotlin/fir/dataframe/DataFrameBlackBoxCodegenTestGenerated.java
Labels: Compiler plugin

#907 Generate valid code in transform(call) when interpret(call) fails
  plugins/kotlin-dataframe/src/org/jetbrains/kotlinx/dataframe/plugin/analyzeRefinedCallShape.kt
  plugins/kotlin-dataframe/src/org/jetbrains/kotlinx/dataframe/plugin/extensions/FunctionCallTransformer.kt
  plugins/kotlin-dataframe/src/org/jetbrains/kotlinx/dataframe/plugin/impl/SimpleCol.kt
  plugins/kotlin-dataframe/src/org/jetbrains/kotlinx/dataframe/plugin/impl/api/groupBy.kt
  plugins/kotlin-dataframe/src/org/jetbrains/kotlinx/dataframe/plugin/impl/api/insert.kt
  plugins/kotlin-dataframe/src/org/jetbrains/kotlinx/dataframe/plugin/impl/api/toDataFrame.kt
  plugins/kotlin-dataframe/src/org/jetbrains/kotlinx/dataframe/plugin/interpret.kt
  plugins/kotlin-dataframe/testData/box/inventNamesForLocalClasses.kt
  plugins/kotlin-dataframe/tests-gen/org/jetbrains/kotlin/fir/dataframe/DataFrameBlackBoxCodegenTestGenerated.java
Labels: Compiler plugin

#902 Deprecating `DataFrame.read("", delimiter =)`
  core/src/main/kotlin/org/jetbrains/kotlinx/dataframe/io/csv.kt
  core/src/main/kotlin/org/jetbrains/kotlinx/dataframe/util/deprecationMessages.kt
  core/src/test/kotlin/org/jetbrains/kotlinx/dataframe/samples/api/OtherSamples.kt
  docs/StardustDocs/topics/overview.md
Labels: csv

#908 [Compiler plugin] Support dataFrameOf(Pair<String, List<T>)
  core/src/main/kotlin/org/jetbrains/kotlinx/dataframe/api/constructors.kt
  plugins/kotlin-dataframe/src/org/jetbrains/kotlinx/dataframe/plugin/extensions/FunctionCallTransformer.kt
  plugins/kotlin-dataframe/src/org/jetbrains/kotlinx/dataframe/plugin/impl/api/dataFrameOf.kt
  plugins/kotlin-dataframe/src/org/jetbrains/kotlinx/dataframe/plugin/impl/api/stdlib.kt
  plugins/kotlin-dataframe/src/org/jetbrains/kotlinx/dataframe/plugin/interpret.kt
  plugins/kotlin-dataframe/src/org/jetbrains/kotlinx/dataframe/plugin/loadInterpreter.kt
  plugins/kotlin-dataframe/src/org/jetbrains/kotlinx/dataframe/plugin/utils/Names.kt
  plugins/kotlin-dataframe/testData/box/dataFrameOf_to.kt
  plugins/kotlin-dataframe/tests-gen/org/jetbrains/kotlin/fir/dataframe/DataFrameBlackBoxCodegenTestGenerated.java
Labels: Compiler plugin

#913 [Compiler plugin] Generate ColumnName annotations on frontend for all names that contain illegal characters
  plugins/kotlin-dataframe/src/org/jetbrains/kotlinx/dataframe/plugin/FirDataFrameComponentRegistrar.kt
  plugins/kotlin-dataframe/src/org/jetbrains/kotlinx/dataframe/plugin/analyzeRefinedCallShape.kt
  plugins/kotlin-dataframe/src/org/jetbrains/kotlinx/dataframe/plugin/extensions/CallShapeAttribute.kt
  plugins/kotlin-dataframe/src/org/jetbrains/kotlinx/dataframe/plugin/extensions/DataFramePlugin.kt
  plugins/kotlin-dataframe/src/org/jetbrains/kotlinx/dataframe/plugin/extensions/FunctionCallTransformer.kt
  plugins/kotlin-dataframe/src/org/jetbrains/kotlinx/dataframe/plugin/extensions/IrBodyFiller.kt
  plugins/kotlin-dataframe/src/org/jetbrains/kotlinx/dataframe/plugin/extensions/TokenGenerator.kt
  plugins/kotlin-dataframe/src/org/jetbrains/kotlinx/dataframe/plugin/extensions/TopLevelExtensionsGenerator.kt
  plugins/kotlin-dataframe/src/org/jetbrains/kotlinx/dataframe/plugin/extensions/impl/PropertyName.kt
  plugins/kotlin-dataframe/src/org/jetbrains/kotlinx/dataframe/plugin/extensions/impl/SchemaProperty.kt
  plugins/kotlin-dataframe/src/org/jetbrains/kotlinx/dataframe/plugin/utils/firFactories.kt
  plugins/kotlin-dataframe/testData/box/columnName_invalidSymbol.kt
  plugins/kotlin-dataframe/testData/box/playground.kt
  plugins/kotlin-dataframe/tests-gen/org/jetbrains/kotlin/fir/dataframe/DataFrameBlackBoxCodegenTestGenerated.java
Labels: Compiler plugin

#916 Split OpenAPI in module needed for user projects and module needed for code-generation
  core/build.gradle.kts
  core/src/main/kotlin/org/jetbrains/kotlinx/dataframe/jupyter/Integration.kt
  dataframe-openapi-generator/build.gradle.kts
  dataframe-openapi-generator/src/main/kotlin/org/jetbrains/kotlinx/dataframe/io/DefaultReadOpenApiMethod.kt
  dataframe-openapi-generator/src/main/kotlin/org/jetbrains/kotlinx/dataframe/io/OpenApi.kt
  dataframe-openapi-generator/src/main/kotlin/org/jetbrains/kotlinx/dataframe/io/OpenApiMarker.kt
  dataframe-openapi-generator/src/main/kotlin/org/jetbrains/kotlinx/dataframe/io/OpenApiType.kt
  dataframe-openapi-generator/src/main/kotlin/org/jetbrains/kotlinx/dataframe/io/getMarker.kt
  dataframe-openapi-generator/src/main/kotlin/org/jetbrains/kotlinx/dataframe/io/isOpenApi.kt
  dataframe-openapi-generator/src/main/kotlin/org/jetbrains/kotlinx/dataframe/io/readOpenapi.kt
  dataframe-openapi-generator/src/main/kotlin/org/jetbrains/kotlinx/dataframe/io/resultTypes.kt
  dataframe-openapi-generator/src/main/kotlin/org/jetbrains/kotlinx/dataframe/io/utils.kt
  dataframe-openapi-generator/src/main/resources/META-INF/services/org.jetbrains.kotlinx.dataframe.io.SupportedFormat
  dataframe-openapi-generator/src/test/kotlin/OpenApiTests.kt
  dataframe-openapi-generator/src/test/resources/ApiGuruOpenApi.yaml
  dataframe-openapi-generator/src/test/resources/ApiGuruSample.json
  dataframe-openapi-generator/src/test/resources/MlcGroupDataOpenApi.yaml
  dataframe-openapi-generator/src/test/resources/apiGuruMetrics.json
  dataframe-openapi-generator/src/test/resources/mlc_locations_with_people_data.json
  dataframe-openapi-generator/src/test/resources/mlc_people_with_location_data.json
  dataframe-openapi-generator/src/test/resources/openapi_advanced_data.json
  dataframe-openapi-generator/src/test/resources/openapi_advanced_data2.json
  dataframe-openapi-generator/src/test/resources/openapi_advanced_data3.json
  dataframe-openapi-generator/src/test/resources/openapi_advanced_example.yaml
  dataframe-openapi-generator/src/test/resources/petstore.json
  dataframe-openapi-generator/src/test/resources/petstore.yaml
  dataframe-openapi-generator/src/test/resources/petstore_advanced.json
  dataframe-openapi-generator/src/test/resources/some_advanced_failing_orders.json
  dataframe-openapi-generator/src/test/resources/some_advanced_orders.json
  dataframe-openapi-generator/src/test/resources/some_advanced_pets.json
  dataframe-openapi/build.gradle.kts
  dataframe-openapi/src/main/kotlin/org/jetbrains/kotlinx/dataframe/io/AdditionalProperty.kt
  docs/StardustDocs/topics/gettingStartedGradleAdvanced.md
  gradle/wrapper/gradle-wrapper.properties
  plugins/dataframe-gradle-plugin/build.gradle.kts
  plugins/dataframe-gradle-plugin/src/main/kotlin/org/jetbrains/dataframe/gradle/ConvenienceSchemaGeneratorPlugin.kt
  plugins/dataframe-gradle-plugin/src/test/kotlin/org/jetbrains/dataframe/gradle/GradleRunnerDsl.kt
  plugins/symbol-processor/build.gradle.kts
  plugins/symbol-processor/src/test/kotlin/org/jetbrains/dataframe/ksp/DataFrameSymbolProcessorTest.kt
  settings.gradle.kts
Labels: enhancement

#923 Revert insertGenericTreeImpl
  core/src/main/kotlin/org/jetbrains/kotlinx/dataframe/api/insert.kt
  core/src/main/kotlin/org/jetbrains/kotlinx/dataframe/columns/BaseColumn.kt
  core/src/main/kotlin/org/jetbrains/kotlinx/dataframe/columns/ColumnGroup.kt
  core/src/main/kotlin/org/jetbrains/kotlinx/dataframe/impl/api/insert.kt
  plugins/kotlin-dataframe/src/org/jetbrains/kotlinx/dataframe/plugin/impl/DataFrameAdapter.kt
  plugins/kotlin-dataframe/src/org/jetbrains/kotlinx/dataframe/plugin/impl/SimpleCol.kt
  plugins/kotlin-dataframe/src/org/jetbrains/kotlinx/dataframe/plugin/impl/api/flatten.kt
  plugins/kotlin-dataframe/src/org/jetbrains/kotlinx/dataframe/plugin/impl/api/insert.kt
  plugins/kotlin-dataframe/src/org/jetbrains/kotlinx/dataframe/plugin/impl/api/move.kt
  plugins/kotlin-dataframe/src/org/jetbrains/kotlinx/dataframe/plugin/impl/data/ColumnPathApproximation.kt
  plugins/kotlin-dataframe/testData/box/insert.kt
Labels: Compiler plugin

#931 Open File in readExcel in read-only mode
  dataframe-excel/src/main/kotlin/org/jetbrains/kotlinx/dataframe/io/xlsx.kt
Labels: bug

#901 Support read unstructured excel file
  core/api/core.api
  core/src/main/kotlin/org/jetbrains/kotlinx/dataframe/util/deprecationMessages.kt
  dataframe-excel/api/dataframe-excel.api
  dataframe-excel/src/main/kotlin/org/jetbrains/kotlinx/dataframe/io/xlsx.kt
  dataframe-excel/src/test/kotlin/org/jetbrains/kotlinx/dataframe/io/XlsxTest.kt
  dataframe-excel/src/test/resources/unstructured_example.xlsx
Labels: enhancement

#935 Fast double parser
  core/api/core.api
  core/build.gradle.kts
  core/src/main/kotlin/org/jetbrains/kotlinx/dataframe/api/convert.kt
  core/src/main/kotlin/org/jetbrains/kotlinx/dataframe/api/parse.kt
  core/src/main/kotlin/org/jetbrains/kotlinx/dataframe/documentation/utils.kt
  core/src/main/kotlin/org/jetbrains/kotlinx/dataframe/impl/api/parse.kt
  core/src/main/kotlin/org/jetbrains/kotlinx/dataframe/impl/io/FastDoubleParser.kt
  core/src/main/kotlin/org/jetbrains/kotlinx/dataframe/util/deprecationMessages.kt
  core/src/test/kotlin/org/jetbrains/kotlinx/dataframe/io/FastDoubleParserTests.kt
  core/src/test/kotlin/org/jetbrains/kotlinx/dataframe/io/ParserTests.kt
  gradle/libs.versions.toml
Labels: bug, performance, csv
