Repository Kotlin/dataframe, pull requests merged in 2025-02, with the labels that each got.

#1051 Add checkers that report compile time schema as info warnings to observe implicit schema generation
  plugins/kotlin-dataframe/src/org/jetbrains/kotlinx/dataframe/plugin/FirDataFrameComponentRegistrar.kt
  plugins/kotlin-dataframe/src/org/jetbrains/kotlinx/dataframe/plugin/extensions/ExpressionAnalysisAdditionalChecker.kt
  plugins/kotlin-dataframe/src/org/jetbrains/kotlinx/dataframe/plugin/extensions/FunctionCallTransformer.kt
  plugins/kotlin-dataframe/src/org/jetbrains/kotlinx/dataframe/plugin/extensions/KotlinTypeFacade.kt
  plugins/kotlin-dataframe/src/org/jetbrains/kotlinx/dataframe/plugin/impl/SimpleCol.kt
  plugins/kotlin-dataframe/src/org/jetbrains/kotlinx/dataframe/plugin/interpret.kt
  plugins/kotlin-dataframe/src/org/jetbrains/kotlinx/dataframe/plugin/utils/Names.kt
  plugins/kotlin-dataframe/testData/diagnostics/schemaInfo.fir.txt
  plugins/kotlin-dataframe/testData/diagnostics/schemaInfo.kt
  plugins/kotlin-dataframe/tests-gen/org/jetbrains/kotlin/fir/dataframe/DataFrameDiagnosticTestGenerated.java
  plugins/kotlin-dataframe/tests/org/jetbrains/kotlin/fir/dataframe/AbstractDataFrameDiagnosticTest.kt
  plugins/kotlin-dataframe/tests/org/jetbrains/kotlin/fir/dataframe/services/ExtensionRegistrarConfigurators.kt
Labels: Compiler plugin

#1052 Add more operation to compiler plugin
  core/api/core.api
  core/src/main/kotlin/org/jetbrains/kotlinx/dataframe/aggregation/AggregateDsl.kt
  core/src/main/kotlin/org/jetbrains/kotlinx/dataframe/api/convert.kt
  core/src/main/kotlin/org/jetbrains/kotlinx/dataframe/api/gather.kt
  core/src/main/kotlin/org/jetbrains/kotlinx/dataframe/api/into.kt
  core/src/main/kotlin/org/jetbrains/kotlinx/dataframe/api/merge.kt
  core/src/main/kotlin/org/jetbrains/kotlinx/dataframe/api/rename.kt
  core/src/main/kotlin/org/jetbrains/kotlinx/dataframe/api/reorder.kt
  core/src/main/kotlin/org/jetbrains/kotlinx/dataframe/jupyter/KotlinNotebookPluginUtils.kt
  core/src/test/kotlin/org/jetbrains/kotlinx/dataframe/testSets/person/DataFrameTests.kt
  docs/StardustDocs/topics/reorder.md
  plugins/kotlin-dataframe/src/org/jetbrains/kotlinx/dataframe/plugin/impl/DataFrameAdapter.kt
  plugins/kotlin-dataframe/src/org/jetbrains/kotlinx/dataframe/plugin/impl/api/add.kt
  plugins/kotlin-dataframe/src/org/jetbrains/kotlinx/dataframe/plugin/impl/api/convert.kt
  plugins/kotlin-dataframe/src/org/jetbrains/kotlinx/dataframe/plugin/impl/api/groupBy.kt
  plugins/kotlin-dataframe/src/org/jetbrains/kotlinx/dataframe/plugin/impl/api/insert.kt
  plugins/kotlin-dataframe/src/org/jetbrains/kotlinx/dataframe/plugin/impl/api/join.kt
  plugins/kotlin-dataframe/src/org/jetbrains/kotlinx/dataframe/plugin/impl/api/merge.kt
  plugins/kotlin-dataframe/src/org/jetbrains/kotlinx/dataframe/plugin/impl/api/rename.kt
  plugins/kotlin-dataframe/src/org/jetbrains/kotlinx/dataframe/plugin/impl/api/reorder.kt
  plugins/kotlin-dataframe/src/org/jetbrains/kotlinx/dataframe/plugin/impl/api/select.kt
  plugins/kotlin-dataframe/src/org/jetbrains/kotlinx/dataframe/plugin/impl/api/valueCounts.kt
  plugins/kotlin-dataframe/src/org/jetbrains/kotlinx/dataframe/plugin/interpret.kt
  plugins/kotlin-dataframe/src/org/jetbrains/kotlinx/dataframe/plugin/loadInterpreter.kt
  plugins/kotlin-dataframe/testData/box/groupBy_toDataFrame.kt
  plugins/kotlin-dataframe/testData/box/infer.kt
  plugins/kotlin-dataframe/testData/box/merge.kt
  plugins/kotlin-dataframe/testData/box/perRowCol.kt
  plugins/kotlin-dataframe/testData/box/renameMapping.kt
  plugins/kotlin-dataframe/testData/box/reorder.fir.txt
  plugins/kotlin-dataframe/testData/box/reorder.kt
  plugins/kotlin-dataframe/testData/diagnostics/schemaInfo.fir.txt
  plugins/kotlin-dataframe/tests-gen/org/jetbrains/kotlin/fir/dataframe/DataFrameBlackBoxCodegenTestGenerated.java
Labels: Compiler plugin

#1038 All except fix: Option 2
  core/api/core.api
  core/src/main/kotlin/org/jetbrains/kotlinx/dataframe/api/ColumnsSelectionDsl.kt
  core/src/main/kotlin/org/jetbrains/kotlinx/dataframe/api/allExcept.kt
  core/src/main/kotlin/org/jetbrains/kotlinx/dataframe/impl/columns/Utils.kt
  core/src/main/kotlin/org/jetbrains/kotlinx/dataframe/util/deprecationMessages.kt
  core/src/test/kotlin/org/jetbrains/kotlinx/dataframe/api/allExcept.kt
  docs/StardustDocs/snippets/kdocs/org.jetbrains.kotlinx.dataframe.api.ColumnsSelectionDsl.DslGrammar.ColumnGroupPartOfGrammar.ForHtml.html
  docs/StardustDocs/topics/ColumnSelectors.md
Labels: bug, documentation, enhancement, KDocs

#1040 Stabilize FastDoubleParser part 1
  core/src/main/kotlin/org/jetbrains/kotlinx/dataframe/api/convert.kt
  core/src/main/kotlin/org/jetbrains/kotlinx/dataframe/api/parse.kt
  core/src/main/kotlin/org/jetbrains/kotlinx/dataframe/impl/api/parse.kt
  core/src/main/kotlin/org/jetbrains/kotlinx/dataframe/impl/io/FastDoubleParser.kt
  core/src/test/kotlin/org/jetbrains/kotlinx/dataframe/io/ParserTests.kt
  dataframe-csv/src/main/kotlin/org/jetbrains/kotlinx/dataframe/documentation/DelimParams.kt
  dataframe-csv/src/main/kotlin/org/jetbrains/kotlinx/dataframe/impl/io/readDelim.kt
  docs/StardustDocs/topics/convert.md
  docs/StardustDocs/topics/parse.md
Labels: documentation, enhancement

#1055 [Compiler plugin] Support more GroupBy shortcuts
  core/api/core.api
  core/src/main/kotlin/org/jetbrains/kotlinx/dataframe/api/concat.kt
  core/src/main/kotlin/org/jetbrains/kotlinx/dataframe/api/count.kt
  core/src/main/kotlin/org/jetbrains/kotlinx/dataframe/api/first.kt
  core/src/main/kotlin/org/jetbrains/kotlinx/dataframe/api/into.kt
  core/src/main/kotlin/org/jetbrains/kotlinx/dataframe/api/last.kt
  core/src/main/kotlin/org/jetbrains/kotlinx/dataframe/api/max.kt
  core/src/main/kotlin/org/jetbrains/kotlinx/dataframe/api/min.kt
  plugins/kotlin-dataframe/src/org/jetbrains/kotlinx/dataframe/plugin/impl/SimpleCol.kt
  plugins/kotlin-dataframe/src/org/jetbrains/kotlinx/dataframe/plugin/impl/api/ReducedGroupBy.kt
  plugins/kotlin-dataframe/src/org/jetbrains/kotlinx/dataframe/plugin/impl/api/count.kt
  plugins/kotlin-dataframe/src/org/jetbrains/kotlinx/dataframe/plugin/impl/api/groupBy.kt
  plugins/kotlin-dataframe/src/org/jetbrains/kotlinx/dataframe/plugin/interpret.kt
  plugins/kotlin-dataframe/src/org/jetbrains/kotlinx/dataframe/plugin/loadInterpreter.kt
  plugins/kotlin-dataframe/testData/box/groupBy_count.kt
  plugins/kotlin-dataframe/testData/box/groupBy_maxOfMinOf.kt
  plugins/kotlin-dataframe/testData/box/reducedGroupBy.kt
  plugins/kotlin-dataframe/tests-gen/org/jetbrains/kotlin/fir/dataframe/DataFrameBlackBoxCodegenTestGenerated.java
Labels: Compiler plugin

#1079 Extend CS DSL support in compiler plugin
  core/api/core.api
  core/src/main/kotlin/org/jetbrains/kotlinx/dataframe/api/all.kt
  core/src/main/kotlin/org/jetbrains/kotlinx/dataframe/api/colGroups.kt
  core/src/main/kotlin/org/jetbrains/kotlinx/dataframe/api/cols.kt
  core/src/main/kotlin/org/jetbrains/kotlinx/dataframe/api/colsAtAnyDepth.kt
  core/src/main/kotlin/org/jetbrains/kotlinx/dataframe/api/colsOf.kt
  core/src/main/kotlin/org/jetbrains/kotlinx/dataframe/api/columnNameFilters.kt
  core/src/main/kotlin/org/jetbrains/kotlinx/dataframe/api/columnRange.kt
  core/src/main/kotlin/org/jetbrains/kotlinx/dataframe/api/drop.kt
  core/src/main/kotlin/org/jetbrains/kotlinx/dataframe/api/first.kt
  core/src/main/kotlin/org/jetbrains/kotlinx/dataframe/api/frameCols.kt
  core/src/main/kotlin/org/jetbrains/kotlinx/dataframe/api/last.kt
  core/src/main/kotlin/org/jetbrains/kotlinx/dataframe/api/rename.kt
  core/src/main/kotlin/org/jetbrains/kotlinx/dataframe/api/reorder.kt
  core/src/main/kotlin/org/jetbrains/kotlinx/dataframe/api/single.kt
  core/src/main/kotlin/org/jetbrains/kotlinx/dataframe/api/take.kt
  core/src/main/kotlin/org/jetbrains/kotlinx/dataframe/api/valueCols.kt
  core/src/main/kotlin/org/jetbrains/kotlinx/dataframe/api/withoutNulls.kt
  core/src/main/kotlin/org/jetbrains/kotlinx/dataframe/api/xs.kt
  core/src/main/kotlin/org/jetbrains/kotlinx/dataframe/columns/ColumnWithPath.kt
  core/src/main/kotlin/org/jetbrains/kotlinx/dataframe/columns/ColumnsResolver.kt
  plugins/kotlin-dataframe/src/org/jetbrains/kotlinx/dataframe/plugin/impl/DataFrameAdapter.kt
  plugins/kotlin-dataframe/src/org/jetbrains/kotlinx/dataframe/plugin/impl/api/columnsSelectionDsl.kt
  plugins/kotlin-dataframe/src/org/jetbrains/kotlinx/dataframe/plugin/impl/api/explode.kt
  plugins/kotlin-dataframe/src/org/jetbrains/kotlinx/dataframe/plugin/impl/api/group.kt
  plugins/kotlin-dataframe/src/org/jetbrains/kotlinx/dataframe/plugin/impl/api/groupBy.kt
  plugins/kotlin-dataframe/src/org/jetbrains/kotlinx/dataframe/plugin/impl/api/reorder.kt
  plugins/kotlin-dataframe/src/org/jetbrains/kotlinx/dataframe/plugin/impl/api/select.kt
  plugins/kotlin-dataframe/src/org/jetbrains/kotlinx/dataframe/plugin/impl/api/xs.kt
  plugins/kotlin-dataframe/src/org/jetbrains/kotlinx/dataframe/plugin/interpret.kt
  plugins/kotlin-dataframe/src/org/jetbrains/kotlinx/dataframe/plugin/loadInterpreter.kt
  plugins/kotlin-dataframe/testData/box/csDsl/all.kt
  plugins/kotlin-dataframe/testData/box/csDsl/colGroups.kt
  plugins/kotlin-dataframe/testData/box/csDsl/cols.kt
  plugins/kotlin-dataframe/testData/box/csDsl/colsAtAnyDepth.kt
  plugins/kotlin-dataframe/testData/box/csDsl/colsOf.kt
  plugins/kotlin-dataframe/testData/box/csDsl/columnNameFIlters.kt
  plugins/kotlin-dataframe/testData/box/csDsl/columnRange.kt
  plugins/kotlin-dataframe/testData/box/csDsl/drop.kt
  plugins/kotlin-dataframe/testData/box/csDsl/first.kt
  plugins/kotlin-dataframe/testData/box/csDsl/frameCols.kt
  plugins/kotlin-dataframe/testData/box/csDsl/last.kt
  plugins/kotlin-dataframe/testData/box/csDsl/rename.kt
  plugins/kotlin-dataframe/testData/box/csDsl/single.kt
  plugins/kotlin-dataframe/testData/box/csDsl/take.kt
  plugins/kotlin-dataframe/testData/box/csDsl/valueCols.kt
  plugins/kotlin-dataframe/testData/box/csDsl/withoutNulls.kt
  plugins/kotlin-dataframe/testData/box/reorderRange.fir.txt
  plugins/kotlin-dataframe/testData/box/reorderRange.kt
  plugins/kotlin-dataframe/testData/box/xs.kt
  plugins/kotlin-dataframe/testData/selectionDslTestUtils.kt
  plugins/kotlin-dataframe/testData/testUtils.kt
  plugins/kotlin-dataframe/tests-gen/org/jetbrains/kotlin/fir/dataframe/DataFrameBlackBoxCodegenTestGenerated.java
  plugins/kotlin-dataframe/tests/org/jetbrains/kotlin/fir/dataframe/AbstractDataFrameBlackBoxCodegenTest.kt
Labels: Compiler plugin
