Repository Kotlin/dataframe, pull requests merged in 2025-08, with the labels that each got.

#1360 Hide `mapToColumn` in CS DSL in favor of `expr`
  core/src/main/kotlin/org/jetbrains/kotlinx/dataframe/api/expr.kt
  core/src/main/kotlin/org/jetbrains/kotlinx/dataframe/api/map.kt
  core/src/main/kotlin/org/jetbrains/kotlinx/dataframe/util/deprecationMessages.kt
Labels: enhancement

#577 Add support for reading parquet file thanks to arrow-dataset #576
  dataframe-arrow/api/dataframe-arrow.api
  dataframe-arrow/build.gradle.kts
  dataframe-arrow/src/main/kotlin/org/jetbrains/kotlinx/dataframe/io/arrowReading.kt
  dataframe-arrow/src/main/kotlin/org/jetbrains/kotlinx/dataframe/io/arrowReadingImpl.kt
  dataframe-arrow/src/test/kotlin/org/jetbrains/kotlinx/dataframe/io/ArrowKtTest.kt
  dataframe-arrow/src/test/kotlin/org/jetbrains/kotlinx/dataframe/io/exampleEstimatesAssertions.kt
  dataframe-arrow/src/test/resources/test.arrow.parquet
  gradle/libs.versions.toml
Labels: enhancement

#1358 Rollback parameter name to keep compatibility with the compiler plugin
  core/src/main/kotlin/org/jetbrains/kotlinx/dataframe/api/explode.kt
Labels: bug

#1346 `format` kdocs++
  core/README.md
  core/api/core.api
  core/generated-sources/src/main/kotlin/org/jetbrains/kotlinx/dataframe/api/Nulls.kt
  core/generated-sources/src/main/kotlin/org/jetbrains/kotlinx/dataframe/api/convert.kt
  core/generated-sources/src/main/kotlin/org/jetbrains/kotlinx/dataframe/api/format.kt
  core/generated-sources/src/main/kotlin/org/jetbrains/kotlinx/dataframe/api/update.kt
  core/generated-sources/src/main/kotlin/org/jetbrains/kotlinx/dataframe/documentation/DslGrammar.kt
  core/generated-sources/src/main/kotlin/org/jetbrains/kotlinx/dataframe/impl/api/format.kt
  core/generated-sources/src/main/kotlin/org/jetbrains/kotlinx/dataframe/io/html.kt
  core/generated-sources/src/test/kotlin/org/jetbrains/kotlinx/dataframe/samples/api/JoinWith.kt
  core/generated-sources/src/test/kotlin/org/jetbrains/kotlinx/dataframe/samples/api/Modify.kt
  core/generated-sources/src/test/kotlin/org/jetbrains/kotlinx/dataframe/samples/api/OtherSamples.kt
  core/generated-sources/src/test/kotlin/org/jetbrains/kotlinx/dataframe/testSets/person/FormattingTests.kt
  core/src/main/kotlin/org/jetbrains/kotlinx/dataframe/api/convert.kt
  core/src/main/kotlin/org/jetbrains/kotlinx/dataframe/api/format.kt
  core/src/main/kotlin/org/jetbrains/kotlinx/dataframe/api/update.kt
  core/src/main/kotlin/org/jetbrains/kotlinx/dataframe/documentation/DocumentationUrls.kt
  core/src/main/kotlin/org/jetbrains/kotlinx/dataframe/documentation/DslGrammar.kt
  core/src/main/kotlin/org/jetbrains/kotlinx/dataframe/impl/api/format.kt
  core/src/main/kotlin/org/jetbrains/kotlinx/dataframe/io/html.kt
  core/src/main/kotlin/org/jetbrains/kotlinx/dataframe/util/deprecationMessages.kt
  core/src/test/kotlin/org/jetbrains/kotlinx/dataframe/api/format.kt
  core/src/test/kotlin/org/jetbrains/kotlinx/dataframe/samples/api/JoinWith.kt
  core/src/test/kotlin/org/jetbrains/kotlinx/dataframe/samples/api/Modify.kt
  core/src/test/kotlin/org/jetbrains/kotlinx/dataframe/samples/api/OtherSamples.kt
  core/src/test/kotlin/org/jetbrains/kotlinx/dataframe/testSets/person/FormattingTests.kt
  docs/StardustDocs/resources/modify/operations/formatExampleNumbers.html
  docs/StardustDocs/resources/modify/operations/formatExample_properties.html
  docs/StardustDocs/resources/modify/operations/formatExample_strings.html
  docs/StardustDocs/resources/snippets/kdocs/org.jetbrains.kotlinx.dataframe.api.FormatDocs.Grammar.ForHtml.html
  docs/StardustDocs/resources/snippets/org.jetbrains.kotlinx.dataframe.samples.api.JoinWith.compareInnerColumns.html
  docs/StardustDocs/resources/snippets/org.jetbrains.kotlinx.dataframe.samples.api.JoinWith.compareInnerValues.html
  docs/StardustDocs/resources/snippets/org.jetbrains.kotlinx.dataframe.samples.api.JoinWith.compareLeft.html
  docs/StardustDocs/resources/snippets/org.jetbrains.kotlinx.dataframe.samples.api.JoinWith.compareRight.html
  docs/StardustDocs/resources/snippets/org.jetbrains.kotlinx.dataframe.samples.api.JoinWith.crossProduct.html
  docs/StardustDocs/resources/snippets/org.jetbrains.kotlinx.dataframe.samples.api.JoinWith.excludeJoinWith.html
  docs/StardustDocs/resources/snippets/org.jetbrains.kotlinx.dataframe.samples.api.JoinWith.filterJoinWith.html
  docs/StardustDocs/resources/snippets/org.jetbrains.kotlinx.dataframe.samples.api.JoinWith.fullJoinWith.html
  docs/StardustDocs/resources/snippets/org.jetbrains.kotlinx.dataframe.samples.api.JoinWith.joinWith.html
  docs/StardustDocs/resources/snippets/org.jetbrains.kotlinx.dataframe.samples.api.JoinWith.leftJoinWith.html
  docs/StardustDocs/resources/snippets/org.jetbrains.kotlinx.dataframe.samples.api.JoinWith.rightJoinWith.html
  docs/StardustDocs/topics/_shadow_resources.md
  docs/StardustDocs/topics/format.md
  docs/StardustDocs/topics/rendering.md
  docs/StardustDocs/topics/toHTML.md
  examples/notebooks/dev/wine/WineNetWIthKotlinDL.ipynb
  gradle/libs.versions.toml
  tests/build.gradle.kts
  tests/src/test/kotlin/org/jetbrains/kotlinx/dataframe/samples/api/Modify.kt
Labels: bug, documentation, enhancement, tests

#1366 duckdb support
  core/src/main/kotlin/org/jetbrains/kotlinx/dataframe/impl/Rendering.kt
  dataframe-jdbc/api/dataframe-jdbc.api
  dataframe-jdbc/build.gradle.kts
  dataframe-jdbc/src/main/kotlin/org/jetbrains/kotlinx/dataframe/io/db/DuckDb.kt
  dataframe-jdbc/src/main/kotlin/org/jetbrains/kotlinx/dataframe/io/db/util.kt
  dataframe-jdbc/src/test/kotlin/org/jetbrains/kotlinx/dataframe/io/commonTestScenarios.kt
  dataframe-jdbc/src/test/kotlin/org/jetbrains/kotlinx/dataframe/io/local/duckDbTest.kt
  docs/StardustDocs/d.tree
  docs/StardustDocs/topics/dataSources/Data-Sources.md
  docs/StardustDocs/topics/dataSources/sql/DuckDB.md
  docs/StardustDocs/topics/dataSources/sql/SQL.md
  docs/StardustDocs/topics/readSqlDatabases.md
  docs/StardustDocs/topics/schemas/gradle/Gradle-Plugin.md
  gradle/libs.versions.toml
  tests/build.gradle.kts
  tests/src/test/kotlin/org/jetbrains/kotlinx/dataframe/samples/io/DuckDb.kt
Labels: databases

#1410 Add annotations to support types extending DataRow in the compiler plugin
  core/src/main/kotlin/org/jetbrains/kotlinx/dataframe/DataRow.kt
  core/src/main/kotlin/org/jetbrains/kotlinx/dataframe/annotations/Plugin.kt
  core/src/main/kotlin/org/jetbrains/kotlinx/dataframe/api/add.kt
Labels: Compiler plugin
